In [33]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import csv

In [44]:
path_movie = "dataset/netflix-movie/Netflix_Dataset_Movie.csv"
path_rating = "dataset/netflix-movie/Netflix_Dataset_Rating.csv"


movie_data = pd.read_csv(path_movie).loc[lambda df_: df_["Year"] >= 2004]
rating_data = pd.read_csv(path_rating).loc[lambda df_: df_["Movie_ID"].isin(movie_data["Movie_ID"].
values)]

In [50]:
movie_data.columns = movie_data.columns.str.lower().str.replace(" ", "_")
rating_data.columns = rating_data.columns.str.lower().str.replace(" ", "_")

In [51]:
movie_data.head()

    movie_id  year                        name
1          2  2004  Isle of Man TT 2004 Review
4          5  2004    The Rise and Fall of ECW
7          8  2004  What the #$*! Do We Know!?
16        17  2005                   7 Seconds
25        26  2004             Never Die Alone

In [52]:
rating_data.head()

      user_id  rating  movie_id
1524   824097       2         8
1525   785314       1         8
1526   243963       3         8
1527  1447783       4         8
1528  1912665       1         8

In [57]:
print(f"Number of movie: {movie_data['movie_id'].nunique()}")
print(f"Number of user: {rating_data['user_id'].nunique()}")
print(f"Number of rating: {rating_data.shape[0]}")

Number of movie: 1948
Number of user: 140581
Number of rating: 2095075